@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
  --component-bg: #222222;
  --border-color: #333333;
  --hover-bg: rgba(255, 255, 255, 0.05);
  --hover-border: #444444;
  --text-primary: #ffffff;
  --text-secondary: #999999;
  --text-tertiary: #666666;
}

body {
  color: var(--foreground);
  background: var(--background);
}



